/* === GLOBAL STYLES === */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-family-main;
    font-size: $size-text;
    font-weight: $fw-regular;
    line-height: $line-height;
    color: $color-text;
    background: #e2e2e2 url(../img/bg.jpg) center center/cover no-repeat fixed;

    // Скролл заблокирован
    .lock & {
        overflow: hidden;
        touch-action: none;
    }

    // Сайт загружен
    .loaded & {
    }
}

a {
    font-family: $font-family-main;
    color: inherit;
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    // &._loaded {
    // }
}

.footer {
    margin-top: auto;
}

[class*="__container"] {
    max-width: $md1 + px;
    padding: 0 calc($containerPadding / 2) + px;
    margin: 0 auto;
    // @media (max-width: $md1+px) {
    //     max-width: 970px;
    // }
    // @media (max-width: $md2+px) {
    //     max-width: 750px;
    // }
    // @media (max-width: $md3+px) {
    //     max-width: none;
    //     padding: 0 10px;
    // }
}

// Стили для отзывчивых картинок (ibg)
// Снипет (HTML): ibg (div с картинкой и классами)
// Снипет(HTML): ibga (a с картинками и классами)
[class*="-ibg"] {
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

[class*="-ibg_contain"] {
    img {
        object-fit: contain;
    }
}

// ==========================

/* === page === */
.page {
}
