// === VARIABLES ===

//Подключение шрифтов
//&display=swap - для подключение через плагин VSC
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap);

// Смена PX на REM ========================
// Для включения относительных единиц rem, все измерения должны приводиться в таком виде $b*n где n - значение в пикселях деленное на 2.
$b: 2px;
// $b: rem(2px);

// Переменные шрифтов========================
$font-family-main: "Montserrat", helvetica, sans-serif; // Семейство шрифта по умолчанию
// $font-family-help: "Urbanist", helvetica, sans-serif;

$size-text: $b * 8;
$line-height: calc(22 / 16) * 100%; // Первое - высота строка, второе - размер шрифта
// $fw-thin: 100;
// $fw-light: 300;
$fw-regular: 400; // по умолчанию
// $fw-medium: 500;
// $fw-semiBold: 600;
$fw-bold: 700;
// $fw-black: 900;

// Переменные цвета ========================
$color-text: #2e2e2e; //Цвет текста по умолчанию
$color-main: #4a5455;
$color-secondary: #677d74;
$color-help: #a2a599;
$color-light: #cdc6c3;
$color-grey: #aaafa8;
$color-warning: #f68038;
// $color-main-dark: #6f2205;
// $color-sky: #93b0d0;
// $color-error: red;
// $color-success: green;
// $color-orange: #e8aa31;
// $color-white: #fff;
// $color-dark: #0f0f0f;
// $color-danger: #f68038;
// $color-success: #f68038;

// Тип адаптива========================
// 1 - отзывчивый (у контейнера нет брейкпоинтов)
// 2 - по брейк-поинтам (контейнер меняет ширину по брейкпоинтам
// $typeContainer: 1;

// Переменные контейнера и брейкпоинтов ===============================
$minWidth: 320; // Минимальный размер полотна
$maxWidth: 1920; // Максимальный размер полотна
$maxWidthContainer: 1110; // Размер ограничивающего контейнера
$containerPadding: 30; // Отступы безопастности 15px слева 15px справа
// Брейк-поинты
$md1: $maxWidthContainer + $containerPadding; // ПК, Ноутбуки, некоторые планшеты в горизонтальном положении
$md2: 991.98; // Планшеты, некоторые телефоны в горизонтальном положении
$md3: 767.98; // Мобильные телефоны L
$md4: 479.98; // Мобильные телефоны S
